:root {
  --primary: #9146ff;
  --light: #ffffff;
  --gray1: #b3b0b8;
  --gray2: #7c7a80;
  --black1: #101114;
  --black2: #1e1f24;
  --black3: #2b2c33;
  --black4: #454652;
}

* {
  color: var(--light);
  font-family: "Poppins" !important;
}

.nav-link {
  color: var(--gray1) !important;
  font-size: 14px;
}

.nav-item :hover {
  opacity: 0.7;
  transition: 0.3s;
}

body {
  background-color: var(--black1) !important;
}

header {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
}

.navs-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.search-bar {
  background-color: var(--black2);
  width: 220px;
  height: 43px;
  border-radius: 8px;
  margin-left: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 18px;
  z-index: 100px;
}

.input-text {
  border: none;
  font-size: 14px;
  width: 100%;
  background-color: var(--black2);
  padding-left: 12px;
  outline: none;
  font-family: "Poppins";
  font-weight: normal !important;
  color: var(--gray1);
}

/* Main! */
main {
  margin-top: 124px;
}

.filme-container {
  width: 100%;
  padding: 32px 0px 64px;
  position: relative;
}
.movie-background {
  position: absolute;
  top: 0;
  left: 0px;
  right: 0px;
  height: 100%;
  width: 100%;

  /* Add the blur effect */
  filter: blur(40px);
  -webkit-filter: blur(40px);
  z-index: -2;
}

.movie-background-linear {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0px;
  right: 0px;
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, #000000, #000000);
  opacity: 0.3;
  filter: blur(50px);
  -webkit-filter: blur(50px);
}

.filme-inside {
  filter: none;
  -webkit-filter: none;
  z-index: 10px;
}

.movie-image {
  max-width: 100%;
  border-radius: 25px;
}

.cta-trailer {
  position: absolute;
  bottom: 24px;
  left: 32px;
  background-color: white;
  color: var(--black1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 24px;
  cursor: pointer;
  opacity: 1 !important;
}

/*
     NOT WORKING, IDK WHY
.cta-trailer :hover {
  opacity: 0.8 !important;
}
*/

.cta-trailer p {
  color: var(--black1);
  font-family: "Poppins";
  font-weight: 600;
  font-size: 14px;
  margin: 0px 14px 0px 24px;
}

.cta-trailer-left {
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 18px 16px;
  border-radius: 0px 24px 24px 0px;
}
