:root {
  --primary: #9146ff;
  --primary1: #381171;
  --light: #ffffff;
  --gray1: #b3b0b8;
  --gray2: #7c7a80;
  --black1: #101114;
  --black2: #1e1f24;
  --black3: #2b2c33;
  --black4: #454652;
}

* {
  color: var(--light);
  font-family: "Poppins" !important;
}

.nav-link {
  color: var(--gray1) !important;
  font-size: 14px;
}

.nav-item :hover {
  opacity: 0.7;
  transition: 0.3s;
}

body {
  background-color: var(--black1) !important;
}

.filme-container {
  width: 100%;
  height: 120px;
  position: relative;
  margin-top: 64px;
}
.movie-background {
  position: absolute;
  top: 0;
  left: 0px;
  right: 0px;
  height: 100%;
  width: 100%;

  /* Add the blur effect */
  filter: blur(40px);
  -webkit-filter: blur(40px);
  z-index: -2;
}

.movie-background-linear {
  z-index: -1;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, #000000, #000000);
  opacity: 0.4;
  filter: blur(50px);
  -webkit-filter: blur(50px);
}

/*
<-=-=-==-=-==-=-=-=-=-=->
  Informacoes basicas do filme  
<-=-=-==-=-==-=-=-=-=-=->
*/

.movie-basic {
  margin-top: -48px;
}

.movie-basic .big-container {
  display: flex !important;
  flex-direction: row !important;
  width: 100%;
}

.movie-basic .row img {
  height: 231px;
  width: 181px;
  object-fit: cover;
  margin-right: 16px;
  border-radius: 8px;
}

.big-container div h1 {
  font-size: 20px;
  color: var(--light);
  font-weight: 600;
  margin: 0px;
  padding: 0px;
}

.tags-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  margin-top: 24px;
}

.tag {
  font-size: 12px;
  color: var(--light);
  font-weight: 500;
  padding: 4px 16px;
  border: solid 2px var(--primary);
  border-radius: 5px;
  margin-right: 10px;
}

/*
<-=-=-==-=-==-=-=-=-=-=->
  Informacoes medias do site
<-=-=-==-=-==-=-=-=-=-=->
*/

.sinopse-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.movie-medio {
  margin-top: 48px;
}

.sinopse-container .infos {
  width: 50%;
}

.sinopse-container div h1 {
  font-size: 20px;
  font-weight: 400;
  color: var(--light);
}

.sinopse-container div span {
  color: var(--primary);
}

.sinopse-container div p {
  color: var(--gray1);
  font-size: 16px;
  font-weight: 300;
}

.avaliacoes {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.avaliacao-row {
  display: flex;
  align-items: center;
}

.star-container {
  height: 24px;
  width: 24px;
}

.avaliacao-row h3 {
  color: #f9a400;
  font-size: 16px;
  margin-top: 14px;
  margin-left: 4px;
}

.avaliacoes p {
  color: var(--gray2);
  font-size: 14px;
  font-weight: 600;
}

.sinopse-container h2 {
  font-size: 16px;
  margin-top: 32px;
}

.sinopse-container .producao-list p {
  font-size: 14px;
}

@media (max-width: 768px) {
  .sinopse-container {
    display: flex;
    flex-direction: column;
  }
  .sinopse-container .infos {
    width: 100%;
  }
  .avaliacoes {
    align-items: flex-start;
  }
}

/* 492 */
@media (max-width: 492px) {
  .movie-basic .big-container {
    flex-direction: column !important;
    width: 100%;
    align-items: center;
  }

  .big-container div h1 {
    width: 80%;
    margin: 0px auto;
    margin-top: 12px;
    text-align: center;
  }

  .big-container .bottom-pic {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
