:root {
  --primary: #9146ff;
  --primary1: #381171;
  --light: #ffffff;
  --gray1: #b3b0b8;
  --gray2: #7c7a80;
  --black1: #101114;
  --black2: #1e1f24;
  --black3: #2b2c33;
  --black4: #454652;
}

* {
  color: var(--light);
  font-family: "Poppins" !important;
}

body {
  background-color: var(--black1) !important;
}

/*
  Header component
*/

.header-title {
  margin-top: 96px;
}

.header-title h1 {
  width: 350px;
  font-size: 28px;
  font-weight: 600;
}

.header-title span {
  color: var(--primary);
}

.header-title p {
  font-weight: 300;
  color: var(--gray1);
  margin-top: 8px;
}

/*
Querys
*/

.query-container {
  margin-top: 48px;
}

input {
  border: none;
  outline: none;
  height: 45px;
  border-radius: 5px;
}

select {
  border: none;
  outline: none;
  height: 45px;
  border-radius: 5px;
  background-color: var(--black2);
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px !important;
  padding-left: 12px;
  color: var(--gray1);
}

.title-query {
  height: 45px;
  padding-left: 12px;
  color: var(--gray1);
  background-color: var(--black2);
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
}

.submit-cta {
  background: #9146ff;
  font-weight: 400;
  transition: 0.2s;
  width: 80% !important;
  font-size: 14px;
}

.submit-cta:hover {
  opacity: 0.9;
}

.submit-cta:active {
  opacity: 0.8;
}

/*
  Movies Founded
*/

.movie-search {
  width: 100%;
  margin-top: 48px !important;
  position: relative;
  border-radius: 8px;
}

.movie-search img {
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.movie-search .bottom {
  position: absolute;
  bottom: 0px;
  width: 306px;
  background: rgba(33, 33, 33, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 0px 0px 8px 8px;
  padding: 18px;
}

.bottom h3 {
  padding: 0px;
  margin: 0px;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 4px;
}

.avaliacao {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.avaliacao .star {
  height: 16px;
  width: 16px;
}

.avaliacao p {
  color: #f9a400;
  font-size: 16px;
  font-weight: 500;
  margin: auto 0px;
  margin-top: 10px;
  margin-left: 8px;
}
